---
import Tabs from "@/components/tabs.svelte";
const { label } = Astro.props;
---

<div class="visible">{label}</div>
<div class="visible">
  あいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこ
</div>

<div class="tabs height-content">
  <Tabs client:only="svelte" />
</div>

<style>
  .tabs{
    border: solid 1px #999;
    height: 100%;
    background-color: aliceblue;
  }
</style>
