---
import Tabs from "@/components/tabs.svelte";
const { label } = Astro.props;
---

<div class="visible">{label}</div>
<div class="visible">
  あいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこ
</div>

<div class="tabs content-wrapp">
  <Tabs client:only="svelte" />
</div>

<style>
  .tabs{
    padding: 0.5rem/* 8px */;
    background-color: aliceblue;
  }
</style>
