---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/_navbar.svelte";
import Sidenav from "@/components/_sidenav.svelte";
import Pagenav from "@/components/_pagenav.svelte";

import Main from "@/pages/_main.astro";

const appname = "Webapp";
---

<Layout title={appname}>
  <nav class="flex bg-purple-300 p-2">
    <Navbar label="Header(Svelte)" client:only="svelte" />
  </nav>
  <div class="content-wrapp flex bg-white">
    <aside id="LeftFrame" class="order-first w-56 p-2 overflow-y-auto">
      <Sidenav title="sidenav" client:only="svelte" />
    </aside>

    <div id="Splitter1" class="w-1 bg-slate-300 cursor-col-resize"></div>

    <main class="flex-1 bg-yellow-50">
      <Main label="Main(Astro)" />
    </main>
    <aside class="w-32 bg-blue-100 p-2 overflow-y-auto">
      <Pagenav label="Pagenav" client:only="svelte" />
    </aside>
  </div>

  <script>
    //Spliter
    let StartDrag = false;

    window.onload = onLoad;

    function onLoad() {
      const splitter = document.querySelector("#Splitter1");
      const leftFrame = document.querySelector("#LeftFrame");

      if (splitter) {
        splitter.addEventListener("mousedown", () => {
          StartDrag = true;
        });
      }

      document.addEventListener("mouseup", (e) => {
        if (StartDrag == true) {
          StartDrag = false;
          const size = `${e.x}px`;
          if (leftFrame instanceof HTMLElement) {
            leftFrame.style.flexBasis = size;
          }
        }
      });
      document.addEventListener("mousemove", (e) => {
        if (StartDrag == true) {
          const size = `${e.x}px`;
          if (leftFrame instanceof HTMLElement) {
            leftFrame.style.flexBasis = size;
          }
        }
      });
    }
  </script>
</Layout>
