---
import Head from "@/layouts/_head.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="">
  <head>
    <Head title={title} />
  </head>
  <body class="h-screen">
    <slot />
  </body>
</html>
